# **Assignment No 1**

Importing Necessary Libries

In [12]:
import pandas as pd

```
#a) read data from different formats (like csv, xls)
```

In [13]:
data = pd.read_csv('Heart.csv')



```
# b) Find Shape of Data
```

In [14]:
data.shape

(303, 15)

```
# c) Find Missing Values
```

In [15]:
print('Missing Values Before Cleaning :')
data.isnull().sum()

Missing Values Before Cleaning :

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

```
# d) Find data type of each column
```

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

```
#e) Finding out Zero's
```

In [17]:
zeros = (data == 0).sum().sum()  # Total count of zeros
print(f"Total zeros in the dataset: {zeros}")

# Find zeros column-wise
column_zeros = (data == 0).sum()
print("Zeros in each column:")
print(column_zeros)

# Find rows with zeros
rows_with_zeros = data[(data == 0).any(axis=1)]
print("Rows containing zeros:")
print(rows_with_zeros)

Total zeros in the dataset: 985
Zeros in each column:
Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64
Rows containing zeros:
     Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
0        0      2.3      3  0.0       fixed   No
1        1      1.5      2  3.0      normal  Yes
2        1      2.6      2  2.0  reversable  Yes
3        0      3.5      3  0.0      normal   No
4        0      1.4      1  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
298      0      1.2      2  0.0  reversable  Yes
299      0      3.4      2  2.0  reversable  Yes
300      1      1.2      2  1.0  reversable  Yes
301      0      0.0      2  1.0      normal  Yes
302      0      0.0      1  NaN      normal   No

[299 rows x 15 columns]

```
#f) Indexing and selecting data, sort data,  
```

In [18]:
df = pd.DataFrame(data)

In [19]:
# Selecting specific rows
print(df.iloc[1])  # Select by row index (positional)
print(df.loc[1])   # Select by row label (index)

# Selecting rows and columns
print(df.iloc[1, 2])  # Select specific cell (row 1, column 2)
print(df.loc[1, 'Age'])  # Select by label

Unnamed: 0               2
Age                     67
Sex                      1
ChestPain     asymptomatic
RestBP                 160
Chol                   286
Fbs                      0
RestECG                  2
MaxHR                  108
ExAng                    1
Oldpeak                1.5
Slope                    2
Ca                     3.0
Thal                normal
AHD                    Yes
Name: 1, dtype: object
Unnamed: 0               2
Age                     67
Sex                      1
ChestPain     asymptomatic
RestBP                 160
Chol                   286
Fbs                      0
RestECG                  2
MaxHR                  108
ExAng                    1
Oldpeak                1.5
Slope                    2
Ca                     3.0
Thal                normal
AHD                    Yes
Name: 1, dtype: object
1
67

In [20]:
sorted_df = df.sort_values(by='Age', ascending=True)  # Sort by 'Age' in ascending order
print(sorted_df)

     Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
132         133   29    1    nontypical     130   204    0        2    202
101         102   34    1       typical     118   182    0        2    174
225         226   34    0    nontypical     118   210    0        0    192
283         284   35    1    nontypical     122   192    0        0    174
117         118   35    0  asymptomatic     138   183    0        0    182
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
42           43   71    0    nontypical     160   302    0        0    162
103         104   71    0    nonanginal     110   265    1        2    130
233         234   74    0    nontypical     120   269    0        2    121
257         258   76    0    nonanginal     140   197    0        1    116
161         162   77    1  asymptomatic     125   304    0        2    162

     ExAng  Oldpeak  Slope   Ca    Thal  AHD
132      0      0.0      1  0.0  normal   No
101      0      0.0      1  0.0  normal   No
225      0      0.7      1  0.0  normal   No
283      0      0.0      1  0.0  normal   No
117      0      1.4      1  0.0  normal   No
..     ...      ...    ...  ...     ...  ...
42       0      0.4      1  2.0  normal   No
103      0      0.0      1  1.0  normal   No
233      1      0.2      1  1.0  normal   No
257      0      1.1      2  0.0  normal   No
161      1      0.0      1  3.0  normal  Yes

[303 rows x 15 columns]

```
#g) Describe attributes of data, checking data types of each column,
```

In [21]:
data.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

```
#h) counting unique values of data, format of each column, converting variable data type (e.g.
from long to short, vice versa)
```

In [22]:
data.nunique()

Unnamed: 0    303
Age            41
Sex             2
ChestPain       4
RestBP         50
Chol          152
Fbs             2
RestECG         3
MaxHR          91
ExAng           2
Oldpeak        40
Slope           3
Ca              4
Thal            3
AHD             2
dtype: int64